.close-button {
   top: 10px;
   right: 10px;
   background: red;
   cursor: pointer;
   width: 30px;
   height: 30px;
}

.card {
   width: 20vh;
   height: 30vh;
   cursor: pointer;
}

.selected-card {
   cursor: pointer;
}