.card {
   width: 20vh;
   height: 30vh;
   background: green;
   cursor: pointer;
}

.selected-card {
   width: 20vh;
   height: 30vh;
   background: green;

   display: flex;
   flex-direction: column;
   cursor: auto;
}

.close-button {
   position: absolute;
   width: 5vh;
   height: 5vh;
   background: red;
   cursor: pointer
}

.upgrade-button {
   width: 10vh;
   height: 5vh;
   cursor: pointer
}