.home-tabs {
   font-size: 90%;
   overflow: hidden;
   padding: 2px 0;
   border-top: 3px black solid;
   border-radius: 12px 12px 0 0;
   background-color: black;
   display: flex;
   align-items: center;
   justify-content: center;
}

.no-data-label {
   display: flex;
   justify-content: center;
   height: 100%;
   font-size: 60px;
   font-weight: bold;
}