.start-button {
   margin: auto;
   position: sticky;
   width: 85%;
   bottom: 20px;
   background-color: #325333;
   border: none;
   color: white;
   padding: 5% 10%;
   text-align: center;
   display: block;
   font-size: 16px;
   cursor: pointer;
}