.button-wrap {
   position: fixed;
   width: 100%;
   bottom: 12%;
}

.start-button {
   position: relative;
   z-index: 100;
   margin: 0 auto;
   width: 85%;
   background-color: #D48665;
   border: none;
   color: white;
   padding: 5%;
   text-align: center;
   display: block;
   font-size: 130%;
   cursor: pointer;

   display: flex;
   justify-content: center;
   align-items: center;
   white-space: nowrap;
   overflow: hidden;
}

@media (max-width: 650px) {
   .button-wrap {
      bottom: 13%;
   }

   .start-button {
      font-size: 110%;
      padding: 4%;
   }
}

.Terminal-control-btn {
   display: none;
}

.Terminal-header {
   display: none;
}

.terminal {
   max-width: 85%;
   margin: -70px auto 0 auto;
   z-index: -1;
}