.button-wrap {
   position: fixed;
   width: 100%;
   bottom: 20px;
}

.start-button {
   position: relative;
   z-index: 100;
   margin: 0 auto;
   width: 85%;
   background-color: #325333;
   border: none;
   color: white;
   padding: 5% 10%;
   text-align: center;
   display: block;
   font-size: 16px;
   cursor: pointer;
}

.Terminal-control-btn {
   display: none;
}

.Terminal-header {
   display: none;
}

.terminal {
   max-width: 85%;
   margin: -70px auto 0 auto;
   z-index: -1;
}